.docsContainerHeader {
  height: 614px;
  background-color: #2696ff;
  background-image: url('../img/docs_background.svg');
  background-repeat: no-repeat;
  background-position: 90% 100%;
}
.docsGridTitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #e3ecff;
  margin-bottom: 25px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-top: 25px;
  padding-right: 24px;
}

.docsGridTitle h2{
  margin: 0;
  margin-left: 24px;
  font-family: $titleFont;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4e5666;
}

.docsGridTitle h2 p{
  margin: 0;
}

.docsGridTitle .blockImage {
  width: 32px;
}

.docsContainerHeader.paddingTop {
  padding-top: 101px;
}

.docsContainerHeader.paddingBottom {
  padding-bottom: 0px;
}

.docsContainer.paddingTop {
  padding-top: 0px;
}

.docsContainer.paddingBottom {
  padding-bottom: 0px;
  height: 100%;
}

.docsContainer {
  height: 282px;
}

.docsGrid {
  position: relative;
  top: -223px;
  background: #ffffff;
  border-radius: 4px;
  margin-bottom: 24px;
  box-shadow: 0 3px 90px 0 rgba(0, 0, 0, 0.16);
}

.docsGrid .blockContent {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 25px;
}

.docsGrid .blockContent p {
  font-family: $descriptionFont;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #4e5666;
}

.docsLink a {
 font-family: $descriptionFont;
 font-size: 16px;
 font-weight: normal;
 font-style: normal;
 font-stretch: normal;
 line-height: 1.5;
 letter-spacing: normal;
 text-align: right;
}


.gridBlock .docsGridHeader {
  flex-grow: 0;
  flex-basis: 60%;
  flex-shrink: 0;
}

.roteiro {
  margin-top: -100px;
  margin-bottom: 150px;
}

.roteiro h2 {
  font-family: $titleFont;
  color: #4e5666;
  font-size: 24px;
  text-align: center;
}

.docsText {
  flex-direction: column;
  margin-bottom: 80px;
}

.docsText p a {
  font-weight: bold;
  color: #2696ff;
}

.wrapper .docsText p {
  font-family: $descriptionFont;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #4e5666;
}

.docsGridHeader h2 p {
font-family: $titleFont;
 font-size: 48px;
 font-weight: normal;
 font-style: normal;
 font-stretch: normal;
 line-height: normal;
 letter-spacing: -0.5px;
 color: #ffffff;
 margin-bottom: 19px;
}

.docsGridHeader p {
  font-family: $descriptionFont;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #ffffff;
  text-align: justify;
}

.demo .wrapper {
  width: 70%;
}

.demo .docsGridTitle h2 {
  margin-left: 0;
}

.demo.docsContainerHeader {
  background: linear-gradient(75.17deg, #2696FF 0%, #8007F8 100.41%);
}

.demo .i-educar,
.demo .i-diario {
  color: #2696FF;
  text-align: center;
  font-size: 32px;
  font-family: Muli, sans-serif;
  display: block;
}

.demo .i-diario {
  color: #8007F8;
}

.demo .docsGridTitle {
  border-bottom: none;
  padding: 50px 50px 10px;
  display: block;
}

.demo .gridBlock {
  padding: 0 50px 50px;
}
.demo .blockContent {
  padding: 0 50px 50px;
}
.demo-link {
  text-align: center;
  padding-top: 25px;
}
.demo-link a {
  border: 1px solid #2696FF;
  border-radius: 3px;
  padding: 14px 60px;
  margin: 10px auto;
}
.demo-link a:hover {
  background: rgba(38, 150, 255, 0.1);
}

.docs-video {
  margin-top: -143px;
  padding-bottom: 50px;
}

.docs-video p {
  text-align: center;
  padding-bottom: 50px;
}
.docs-video p,
.docs-video iframe {
  display: block;
  margin: 0 auto;
}

@media only screen and ( max-width: 745px ) {

    .docsContainerHeader {
      background-image: none;
      height: 742px;
    }

    .docsContainerHeader.paddingTop {
      padding-top: 19px;
    }

    .docsGridHeader {
      margin-bottom: 71px;
    }

    .docsGrid {
      top: -349px;
      height: 338px;
    }

    .docsText {
      margin-top: -316px;
      margin-bottom: 56px;
    }
}
