name: Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]
      
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: git config --global user.name edersoares && git config --global user.email edersoares@me.com && echo "machine github.com login edersoares password ${{ secrets.GITHUB_TOKEN }}" > ~/.netrc;
    - run: cd website && yarn install && GIT_USER=edersoares yarn run publish-gh-pages;
